html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 60px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  line-height: 60px; 
  background-color: #f5f5f5;
}

[v-cloak] {
  display: none;
}

